.item-list-container h2 {
  width: 100%;
  text-align: center;
  margin: 2rem;
}

.btn-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.total-pagar {
  width: 100%;
  text-align: center;
  font-weight: 1000;
  border-radius: 8px;
  background-color: #333;
  width: 500px; 
}
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #333;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 200px; 
}
button:hover {
  border-color: #646cff;
}